.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #2d0a34;
  }

  #output {
    column-width: 100px;
  }

  #output p {
    margin-top: 0;
    margin-bottom: 4px;
  }

  p.num {
    font-family: monospace;
  }

  p.text {
    font-weight: bold;
    font-family: cursive;
  }