/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


#content {
  background-color: #353535;
  width: 1500px;
  min-height: 1300px;
  margin: 10px;
  padding: 10px;
  border: solid 5px #00ff1e;
  font-size: 20px;
}

h1 {
  color:aqua;
  Font-size: 200%;
}

h2 {
  color: purple;
  font-size: 150%;
}

p {
  font-family: "comic sans";
  text-indent: 50px;
  margin-left: 10px;
  color: rgb(143, 98, 157);
  font-size: 120%;

}

h3 {
  color:red;
  font-size: 150%;
}

p {
  font-family: "comic sans";
  text-indent: 50px;
  margin-left: 10px;
  color:rgb(173, 59, 59);
  font-size: 120%;
}
